@use "global" as *;

.shine-button {
    display: block;
    width: 90%;
    background: rgba(220, 20, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-size: rem(24);
    text-align: center;
    padding: rem(5);
    border-radius: rem(5);
    box-shadow: rem(0) rem(10) rem(0) rem(0) rgba(179, 16, 49, 1);
    overflow: hidden;
    transition: 0.3s;
    position: fixed;
    z-index: 99;
    bottom: rem(100);
    left: 50%;
    transform: translateX(-50%);
}

.shine-button:hover {
    position: absolute;
    left: 50%;
    transform: translate(-50%, rem(10));
    box-shadow: rem(0) rem(0) rem(0) rem(0) rgba(179, 16, 49, 1);
}

// 光の部分設定
.shine-button::before {
    content: "";
    display: block;
    height: 100%;
    background: linear-gradient(135deg, transparent 10%, transparent 0%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.5) 10%);
    position: absolute;
    top: 0;
    z-index: 99;
    animation-name: animation;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {
        width: 0%;
        // 
    }

    100% {
        width: 200%;
        // 
    }
}